{% extends "layout.html" %}
{#test commit 1#}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">University</th>
      <th scope="col">Enrollment No.</th>
      <th scope="col">Education</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td></td>
      <td>Adam</td>
      <td>George</td>
      <td>Neil</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Adam</td>
      <td>MIT</td>
      <td>CSU LB</td>
      <td>NCSU</td>
      <td>ASU</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1023</td>
      <td>5896</td>
      <td>5456</td>
      <td>Adam</td>
    </tr>
    </tbody>0
  </table>
{% endblock %}
