{% extends "layout.html" %}
{#test commit 1#}
{% block content %}
    <html>
    <head>
        <title style="font-family:'Arial Black';font-size:200% ">Bootstrap</title>
    </head>
    <h1>Bootstrap</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">University</th>
      <th scope="col">Enrollment No.</th>
      <th scope="col">Education</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>ASU</td>
      <td>4521</td>
      <td>Bacholers</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Adam</td>
      <td>NJIT</td>
      <td>7854</td>
      <td>Masters</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>George</td>
      <td>NCSU</td>
      <td>6354</td>
      <td>Masters</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Neil</td>
      <td>CSU LB</td>
      <td>4569</td>
      <td>Masters</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Otto</td>
      <td>SJSU</td>
      <td>4265</td>
      <td>PHD</td>
    </tr>
    </tbody>
  </table>


    <p style="font-family:'Times New Roman';font-size:150%;color:red;">Education gives us a knowledge of the world around us and changes it into something better. It develops in us a perspective of looking at life. It helps us build opinions and have points of view on things in life. People debate over the subject of whether education is the only thing that gives knowledge. Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. Educational methods include storytelling, discussion, teaching, training, and directed research. Education frequently takes place under the guidance of educators, but learners may also educate themselves. Education can take place in formal or informal settings and any experience that has a formative effect on the way one thinks, feels, or acts may be considered educational. The methodology of teaching is called pedagogy.</p>

    <p style="font-family:'Times New Roman';font-size:150%;color:Blue;">Education is commonly divided formally into such stages as preschool or kindergarten, primary school, secondary school and then college, university, or apprenticeship.A right to education has been recognized by some governments and the United Nations. In most regions, education is compulsory up to a certain age.</p>

    <p style="font-family:'Times New Roman';font-size:150%;color:Green;">Many countries are now drastically changing the way they educate their citizens. The world is changing at an ever quickening rate, which means that a lot of knowledge becomes obsolete and inaccurate more quickly. The emphasis is therefore shifting to teaching the skills of learning: to picking up new knowledge quickly and in as agile a way as possible. Finnish schools have even begun to move away from the regular subject-focused curricula, introducing instead developments like phenomenon-based learning, where students study concepts like climate change instead. Education is also becoming a commodity no longer reserved for children. Adults need it too. Some governmental bodies, like the Finnish Innovation Fund Sitra in Finland, have even proposed compulsory lifelong education.</p>

    <a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.trolleytours.com%2Fwp-content%2Fuploads%2F2016%2F05%2Fboston-mit.jpg&imgrefurl=https%3A%2F%2Fwww.trolleytours.com%2Fboston%2Fmit&docid=1DF6A-uXOMt8bM&tbnid=BAtiim3hwxbJdM%3A&vet=10ahUKEwiXocXws8PdAhXvmeAKHcmyAesQMwhYKBkwGQ..i&w=1200&h=800&bih=604&biw=1318&q=mit&ved=0ahUKEwiXocXws8PdAhXvmeAKHcmyAesQMwhYKBkwGQ&iact=mrc&uact=8/html/" target="_blank" style="font-size: 150%">Click_here  Best University in the World - MIT</a>
    </html>
{% endblock %}
